extends layout

block content
 h1= title

 - let jamid = toShow._id
 - let name= toShow.name
 - let cost = toShow.cost
 - let quantity = toShow.quantity
    
  div
    div.row
      div(class='jamAttr mr-3') jam ID is:
      div #{jamid}
    div.row
      div(class='jamAttr mr-3')  name is:
      div(class='jamDetailAttr') #{name}
    div.row
      div(class='jamAttr mr-3') cost is:
      div(class='jamDetailAttr') #{cost}
    div.row
      div(class='jamAttr mr-3') quantity is:
      div(class='jamDetailAttr') #{quantity}