extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to Delete
 else
  - let jamid = toShow._id
  - let name = toShow.name
  - let cost = toShow.cost
  - let quantity = toShow.quantity
  - let actionid = "/resource/jam/" + jamid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='jamAttr mr-3') jam ID is:
    div #{jamid}
   div.row
    div(class='jamAttr mr-3') name is:
    div #{name}
   div.row
    div(class='jamAttr mr-3') cost is:
    div #{cost}
   div.row
    div(class='jamAttr mr-3') quantity is:
    div #{quantity}

  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the hotel collection
      window.location.href='/jam'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/jam'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }